*{

margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: rgba(0, 0, 0, 0.705);
   font-weight: 500;
}
.space{

    padding-left: 100px;
}

 .about .form {

flex-direction: row;
    display: flex;
}
#cc ul {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
    list-style:none ;
}
#cc a{
font-weight: bold;
background-color: rgba(3, 0, 0, 0.014);
color: rgb(255, 255, 255);
    text-decoration: none;
}
.header{
   text-align: center;
   font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
font-style: bold;
}

body{

background: linear-gradient(rgba(0, 0, 0, 0.027),rgba(0, 0, 0, 0.075));
    padding: 10px;
}
footer ul{
justify-content: space-evenly;
flex-direction: row;
    display: flex;
}


#is{ margin-left: 37%; width: 25%;  }

.about{


    padding: 8%;
}


.content{




    padding: 2%;
}
.news  {
display: flex;
flex-direction: row;
 background-color: rgba(255, 228, 196, 0.705);
}
.new{

    background-color: rgba(6, 121, 30, 0.363);
}

.boxparent{
flex-direction: row;
flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.box {
align-items: center;
    text-align: center;
padding: 5px;
}
.box a {

    text-align: center;
}
.spanp {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: rgba(0, 0, 0, 0.753);
}
input , textarea{



    border: none;
}
.question{

justify-content: space-between;
flex-wrap: wrap;
    display: flex;
}
.boxparent{




    background-color: rgba(0, 255, 255, 0.041);
}
.phead , .pdes {
font-weight: 900;
background-color: rgba(0, 0, 0, 0.404);
   color:rgb(245, 243, 243);
}
/* CSS for larger screens */
@media (max-width: 1026px) {
    #break {
      margin-top: -120px; /* Adjust this value as needed */
    }
  }
  @media (min-width: 1000px) {
    #break {
      margin-top: 0px; /* Adjust this value as needed */
    }
  }
  #break{
color: rgba(8, 8, 8, 0.815);
font-weight: bold;
background-color: rgba(238, 233, 233, 0.171);
font-family: Arial, Helvetica, sans-serif;
  }