*{padding: 0%;margin: 0%;box-sizing: content-box;}
h1{text-align: center;}

.content{


display: flex; flex-wrap: wrap;
    padding: 5%;justify-content: space-around;
}
.child{
width: 100%;
padding: 8%;
}